#container{
    position: fixed;
    height: 60px;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: center;


    div{
        width: 350px;
        background-color: rgb(24, 224, 91);
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;

        p{
            color: white;
        }
    }
}