@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Open+Sans:wght@500&display=swap');
@import '/styles/colors';

.card{
    margin: 10px 5px;
    transition: all 1s;
    position: relative;

    &:hover .card_body_img{
        transform: scale(1.2) rotate(10deg);
    }
    &:hover .btn_add_cart{
        display: block;
    }
    .promotion_wrapper{
        padding: 10px;
        background-color: $primaryColor;
        position: absolute;
        color: #fff;
        
    }
    .card_body{
        height: 300px;
        background-color: rgb(238, 238, 238);
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
    .card_body_img{
        height: 250px;
        width: 250px;
        transform: scale(1) rotate(0deg);
        object-fit: cover;
        transition: all 2s;
    }
    .card_footer{
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: 'Montserrat', sans-serif;

        #price{
            color: $primaryColor;
            font-weight: bold;
            display: flex;
            margin: 0;
            flex-direction: row;
            align-items: center;

            #initial_price{
                color: #777;
                font-weight: 100;
                margin-left: 20px;
                text-decoration:line-through;
            }
        }
        h5{
            margin-top: 10px;
            margin-bottom: 10px;
            padding: 0 30px;
            text-align: center;
            word-break: break-word;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            line-height: 16px; /* fallback */
            max-height: 32px; /* fallback */
            -webkit-line-clamp: 2; /* number of lines to show */
            -webkit-box-orient: vertical;
        }
    }
    .btn_add_cart{
        height: 40px;
        border:1px solid #FF7643;
        background-color: white;
        color: #FF7643;
        border-radius: 25px;
        padding: 0 20px;
        display: none;
        position: absolute;
        top: 20px;
        right: 20px;
    }
}
