@import '/styles//mixins';
@import '/styles//colors';

%dropdown_wrapper{
    
    
    z-index: 100;
    position: absolute;
    top: 75px;
    right: 12px;
    display: flex;
    flex-direction: column;
    background-color: #fff;         
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);        
    border-radius: 8px;         
    padding: 16px; 

    @include shadow(2px);

    

    a{
        height: 50px;

        &:hover{
            color: $primaryColor
        }
    }
}

#showDropdown{
    @extend %dropdown_wrapper;
}
#hideDropdown{
    @extend %dropdown_wrapper;
    display: none;
}
      
  .ant_menu_item 
  {         
    font-size: 14px;         
    font-weight: 500;       
  }        
  .a
  {         
    color: #000;       
  }