@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Open+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Montserrat:wght@500&family=Open+Sans:wght@500&family=Pacifico&display=swap');
@import '/styles/mixins';
@import '/styles/colors';

#header{
    height: 500px;
    background-color: $primaryColor;
    background-image: url("/assets/2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;

    &:after{
        content: "";
        height: 500px;
        width: 100%;
        position: absolute;
        background-color: rgba(255, 118, 67, 0.5);
    }

    
}

.btn2 {
    border: none;
    width: 100%;
    height: 40px;
    margin: auto;
    margin-top: 29px;
    font-family: "Montserrat";
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    background: #FF7643;
    font-size: 13px;
    color: #fff;
    text-transform: uppercase;
    border-radius: 20px;
    overflow: hidden;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    &:before {
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: #ae5833;
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transform-origin: 0 50%;
        transform-origin: 0 50%;
        -webkit-transition-property: transform;
        transition-property: transform;
        -webkit-transition-duration: 0.5s;
        transition-duration: 0.5s;
        -webkit-transition-timing-function: ease-out;
        transition-timing-function: ease-out;
    }
    &:hover {
        &:before {
            -webkit-transform: scaleX(1);
            transform: scaleX(1);
            -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
            transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
        }
    }
}

.formwrapper1 {
	margin-bottom: 17px;
	label {
		margin-bottom: 9px;
		display: block;
	}
}

.container{
    min-height: 500px;
    padding: 50px;
}

@media (max-width: 850px) {
    #popular_product_wrapper{
        grid-template-columns: 50% 50%;
    }
}

@media (max-width: 550px) {
    #popular_product_wrapper{
        grid-template-columns: 100%;
    }
}